# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
instance/

# Javascript/Node
node_modules/
dist/
build/
.npm
.DS_Store

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# IDEs
.idea/
.vscode/

# System
.DS_Store
Thumbs.db
